@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --color-primary: #282A37;
    --color-secondary: #323644;
    --color-white: #FCFFFE;
    --color-grey: #8E99A8;
    --color-blue: #1D90F5;
}

body {
  height: 100vh;
  font-family: poppins, sans-serif;
  background-color: var(--color-primary);
  user-select: none;
  overflow-x: hidden;
}